html {
    height: 100%;
}

body {
    background: rgb(203,202,218);
    background: linear-gradient(90deg,
                rgba(203,202,218,1) 0%,
                rgba(177,177,214,1) 45%,
                rgba(127,156,162,1) 100%);
    align-items: center;
    text-align: center;
    height: 100%;
}


/**************** Common Styles ****************/

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

/************** Navigation Bar ***************/

nav.navbar {
    background-color: transparent !important;
    height: 100px;
}

nav .nav-item {
    padding: 0 7px;
}

nav .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    color: #666666 !important;
}

nav .nav-link:hover {
    color: #000000 !important;
}

nav img:hover {
    height: 50px;
}


/************** Flash Messages ********************/

#flashMessages {
    padding: 0 20%;
}

/************** New User Home Page ***************/
#new_user_home {
    margin-top: 5%;
    padding: 5% 20%;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8;

}

#new_user_home a {
    width: 200px;
    padding-left: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
}

/************** Registration Page ***************/
#register {
    margin: 5% 25%;
    padding: 5% 12%;
    background-color: #EEEEEE;
    border-radius: 10px;
    opacity: 0.9;
}

#register label {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.8;
    color: blue;
}


/************** Login Page ***************/

#login {
    margin: 5% 25%;
    padding: 5% 12%;
    background-color: #EEEEEE;
    border-radius: 10px;
    opacity: 0.9;
}

#login label {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.8;
    color: blue;
}

/**************** USER-PAGE ****************/
#userInfo h1 {
    padding: 2% 0;
}

/************** To-Do Form ***************/
#todoForm .btn {
    width: min(70%, 200px);
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

#todoForm label[name="date"] {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}
/************** Task Manager ***************/

#taskManager {
    padding-bottom: 2%;
    font-family: 'Montserrat', sans-serif;
}

#taskManager .card {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#taskManager h1 {
    padding-top: 5%;
    padding-bottom: 2%
}


#taskManager table tr td h6 {
    font-weight: bold;
    font-size: 1.2rem;
}

#taskManager table tr td p {
    font-size: 0.8rem;
}

#taskManager table tr .small {
    width:15%;
}

#taskManager table tbody .large {
    width: 55%;
}

#workToDo .card-body {
    background-color: pink;
}

#workingOn .card-body {
    background-color: lightblue;
}

#completed .card-body {
    background-color: lightgreen;
}


#archive {
    padding-top: 5%;
}
#archive .card-body {
    background-color: lightgrey;
    overflow-x: auto;
}

#archive .started {
    background-color: yellowgreen;
}

#archive .finished {
    background-color: lightgreen;
}

#archive .schedule {
    background-color: orangered;
}

#archive .small {
    width: 1% !important;
}

#archive .medium {
    width: 20%;
}

#archive .large {
    width: 25%;
}

#archive th {
    font-weight: bold;
    font-size: 1rem;
}
/************** Footer ***************/

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 4.2rem;    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4.2rem;
    background-color: #383866;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.8rem;
    color: #888888;
}

/*********** Media Queries ***********/
@media screen and (max-width: 768px) {
    #new_user_home {
        padding: 5% 2%;
    }
}

@media screen and (min-width:800px) {
    #todoForm {
        padding: 0 10%;
    }
}