<div class="card-header py-3">
    <h4 class="my-0 fw-normal">Tasks Archive</h4>
</div>

<div class="card-body">
    {% if archive|length == 0 %}
    <h5> No Task Currently Going On</h5>
    {% else %}
        <table id="workingTable" class="table">
            <thead>
            <tr>
                <th class="small">Number</th>
                <th class="large">Task</th>
                <th class="small">Restore</th>
                <th class="small">Delete</th>
            </tr>
        </thead>
            <tbody>
            {% for todo in archive %}

                <tr>
                    <th class="small align-middle" scope="row">{{ loop.index }}</th>
                    <td class="large align-middle"> {{ todo.task }}</td>
                    <td class="small align-middle"> {{ create_button(url_for('unarchive', task_id=todo.id), 'fa-solid fa-window-restore', 'btn-warning') }}</td>
                    <td class="small align-middle"> {{ create_button(url_for('delete', task_id=todo.id), 'fa-solid fa-trash', 'btn-danger') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>