<div class="card-header py-3">
    <h4 class="my-0 fw-normal">Tasks Archive</h4>
</div>

<div class="card-body">
    {% if archive|length == 0 %}
    <h5> No Task Currently Going On</h5>
    {% else %}
        <table id="archiveTable" class="table table-striped-columns">
            <thead>
            <tr>
                <th scope="col" class="small">Number</th>
                <th scope="col" class="large">Task</th>
                <th scope="col" class="medium started">Started On</th>
                <th scope="col" class="medium finished">Finished On</th>
                <th scope="col" class="medium schedule">Complete By</th>
                <th scope="col" class="small">Restore</th>
                <th scope="col" class="small">Delete</th>
            </tr>
        </thead>
            <tbody>
            {% for todo in archive %}

                <tr>
                    <th class="small align-middle" scope="row">{{ loop.index }}</th>
                    <td class="large align-middle"> <h6> {{ todo.task }}</h6></td>
                    <td class="medium align-middle started"> <p>{{ todo.start_date.strftime("%d-%m-%Y %H:%M:%S") }}</p></td>
                    <td class="medium align-middle finished"> <p>{{ todo.end_date.strftime("%d-%m-%Y %H:%M:%S") }} </p></td>
                    <td class="medium align-middle schedule"> <p>{{ todo.estimated_end_date.strftime("%d-%m-%Y") }} </p></td>
                    <td class="small align-middle"> {{ create_button(url_for('unarchive', task_id=todo.id), 'fa-solid fa-window-restore', 'btn-warning') }}</td>
                    <td class="small align-middle"> {{ create_button(url_for('delete', task_id=todo.id), 'fa-solid fa-trash', 'btn-danger') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>