<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block head %}{% endblock %}</title>
    {% block styles %}
        {{ bootstrap.load_css() }}
    {% endblock %}
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alkatra:wght@400;700&family=Kaushan+Script&family=Lato:wght@100;400;900&family=Montserrat:wght@100;200;400;900&family=Ubuntu:wght@300;400;700&display=swap"
          rel="stylesheet">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180"
          href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href=" {{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='/site.webmanifest') }}">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/e8f916ca47.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="page-container">
    <div id="content-wrap">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand ms-md-3 ms-0" href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', filename='images/title_icon.png') }}" height="40"
                         alt="task-manager-logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
                        </li>
                        {% if not current_user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content -->
        <section id="flashMessages" class="container">
            {% from 'bootstrap/utils.html' import render_messages %}
            {{ render_messages() }}
        </section>
        {% if current_user.is_authenticated %}
            <section id="userInfo">
                <h1> Welcome {{ session.name.title() }}</h1>
            </section>
        {% endif %}
        {% block content %}{% endblock %}
    </div>

    <footer id="footer">
        &copy; Shubhendu A. Dutta, {{ year }} <br>
        Built using Flask, Flask_extensions and Bootstrap
    </footer>
</div>

{% block scripts %}
    <!-- Bootstrap core JavaScript -->
    {{ bootstrap.load_js() }}
{% endblock %}
</body>
</html>