<div class="card-header py-3">
    <h4 class="my-0 fw-normal">Completed Tasks</h4>
</div>

<div class="card-body">
    {% if completed|length == 0 %}
    <h5> No completed task yet.</h5>
    {% else %}
        <table id="completedTable" class="table table-striped">
            <thead>
            <tr>
                <th class="small">No.</th>
                <th class="large">Task</th>
                <th class="small">Ongoing</th>
                <th class="small">Archive</th>
            </tr>
        </thead>
            <tbody>
            {% for todo in completed %}

                <tr>
                    <th class="small align-middle" scope="row">{{ loop.index }}</th>
                    <td class="large align-middle">
                        <h6> {{ todo.task }} </h6>
                        <p> Started On: {{ todo.start_date.strftime("%d-%m-%Y %H:%M:%S") }}<br>
                            Finished By: {{ todo.end_date.strftime("%d-%m-%Y %H:%M:%S") }}<br>
                            Complete By: {{ todo.estimated_end_date.strftime("%d-%m-%Y") }}</p>
                    </td>
                    <td class="small align-middle"> {{ create_button(url_for('not_complete', task_id=todo.id), 'fa-solid fa-play', 'btn-warning') }}</td>
                    <td class="small align-middle"> {{ create_button(url_for('archive', task_id=todo.id), 'fa-solid fa-box-archive', 'btn-success') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>