{% extends 'base.html' %}

{% block head %}
    Task Manager
{% endblock %}

{% block content %}

    {% if current_user.is_authenticated %}

        {% include 'todo-form.html' %}
        <section id="taskManager">
            <h1>Task Manager</h1>
            {% include 'tasks.html' %}
        </section>
    {% else %}
        <section id="new_user_home">
            <div class="container">
                <h1>Welcome To Task Manager. Login or Register to Use.</h1>
                <!-- Register Button -->
                <a href="{{ url_for('register') }}" role="button" class="btn btn-lg btn-primary mb-3 ml-3">Register</a>
                <!-- Login Button -->
                <a href='{{ url_for("login") }}' class="btn btn-lg btn-secondary mb-3 ml-3">Login</a>
            </div>
        </section>
    {% endif %}
{% endblock %}