{% extends 'base.html' %}

{% block head %}
    Task Manager
{% endblock %}

{% block content %}
    {% if current_user.is_authenticated %}
    {% from "bootstrap/form.html" import render_form %}
        {{ render_form(form, action=url_for('home'), novalidate=True, method='post') }}
    <h1>Task Manager</h1>
        {% if any_todo %}
            {% include 'tasks.html' %}
        {% endif %}
    {% else %}
        <div class="container">
    <!-- Register Button -->
    <button onclick="document.location='{{ url_for("register") }}'" class="btn btn-lg btn-primary mb-3 ml-3">Register</button>
    <!-- Login Button -->
    <button onclick="document.location='{{ url_for("login") }}'" class="btn btn-lg btn-secondary mb-3 ml-3">Login</button>
    </div>
    {% endif %}
{% endblock %}