

{#    <br><br>#}
{#    <h2> Completed</h2>#}
{#    {% for todo in completed %}#}
{#        <li>{{ todo.task }}</li>#}
{#        <button type="button" class="btn btn-warning btn-sm" onclick="location.href='{{ url_for("not_complete", task_id=todo.id) }}'">More Work</button>#}
{#        <button type="button" class="btn btn-success btn-sm" onclick="location.href='{{ url_for("archive", task_id=todo.id) }}'">Archive</button>#}
{#    {% endfor %}#}
{#    <br><br>#}
{#    <h2>Archived</h2>#}
{#    {% for todo in archive %}#}
{#        <li> {{ todo.task }}</li>#}
{#        <button type="button" class="btn btn-warning btn-sm" onclick="location.href='{{ url_for("delete", task_id=todo.id) }}'">Delete</button>#}
{#        <button type="button" class="btn btn-success btn-sm" onclick="location.href='{{ url_for("unarchive", task_id=todo.id) }}'">Restore</button>#}
{#    {% endfor %}#}
{##}
{#</ul>#}

<!-- Inside Task Manager -->

{% macro create_button(url, label, color) -%}
    <button type="button" class="btn {{ color }} btn-sm" onclick="location.href='{{ url }}'"><i class="{{ label }}"></i></button>
{% endmacro %}

<div class="container-fluid">
    <div class="row row-cols-1 row-cols-lg-3 mb-3 text-center">
        <div class="col" id="workToDo">
            <div class="card mb-2 rounded-2 shadow-sm">
                {% include 'work-to-do.html' %}
            </div>
        </div>
        <div class="col" id="workingOn">
                <div class="card mb-2 rounded-2 shadow-sm">
            {% include 'working-on.html' %}
        </div>
        </div>

        <div class="col" id="completed">
            <div class="card mb-2 rounded-2 shadow-sm">
                {% include 'completed.html' %}
            </div>
        </div>
    </div>
</div>

<div class="container" id="archive">
    <div class="card mb-2 rounded-2 shadow-sm">
        {% include 'archive.html' %}
</div>