<div class="card-header py-3">
    <h4 class="my-0 fw-normal">Working On</h4>
</div>

<div class="card-body">
    {% if working_on|length == 0 %}
    <h5> No Task Currently Going On</h5>
    {% else %}
        <table id="workingOnTable" class="table table-striped">
            <thead>
            <tr>
                <th class="small">Priority</th>
                <th class="large">Task</th>
                <th class="small">Stop</th>
                <th class="small">Done</th>
            </tr>
        </thead>
            <tbody id="accordionWorkingOn">
            {% for todo in working_on %}

                <tr>
                    <th class="small align-middle" scope="row">{{ loop.index }}</th>
                    <td class="large align-middle">
                        <h6> {{ todo.task }}</h6>
                        <p> Started On: {{ todo.start_date | localtime }}<br>
                            Complete By: {{ todo.estimated_end_date | formatdate }}</p>
                    </td>
                    <td class="small align-middle"> {{ create_button(url_for('stopped', task_id=todo.id), 'fa-solid fa-stop', 'btn-warning') }}</td>
                    <td class="small align-middle"> {{ create_button(url_for('completed', task_id=todo.id), 'fa-solid fa-check-double', 'btn-success') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>